/* Here are the Styles for my Index Buttons & Index Page */
.indexButtons{
  text-align: center;
}

.indexBut{
  height: 50px;
  width: 130px;
  background-color: black;
  color: white;
  font-size: larger;
}
.indexBut:hover{
  background-color: white;
  color:black;
}

/* End of the Index Styles*/
/*Start of the home Page Dtyles*/
.webpageName{
  text-align: center;
}

.searchArea{
  color:black;
  text-align: center;;
  weight:600;
  align-content: flex-end;
}

.searchBar{
  width: 160px;
  height:25px;
  margin:7px;
  font-size:20px;
}



table{
  align-self: center;
  table-layout: fixed;
  color:black;
}

.tableDiv{
  background-size: auto;
  background-attachment: fixed;
  background-position: center;
}

tr{
  width: 20px;
}
.tableRow{
  font-size: 25px;
  /*Here i am giving my "synta name", "Language", and "Defintion" their font size */
}

th{
  height: 50px;
  width:20%;
  padding: 10px;
}

.syntax{
  width:25px;
  padding: 5px;
  text-align: left;
  font-size: 20px;
}

.lang{
  text-align: center;

}

.def{
  width:50%;
  text-align: left;

}

td{
  height:20px;
}


/*HERE IS MY BACKGROUND PHOTO INFORMATION*/
body{
  background-image: url("binary_background5.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}


/*HERE ARE THE STYLES FOR MY FOOTER*/

.footer{
  color:black;
  text-align: center;
  padding-top: 10px;
}

a{
  color:black;
}
a:hover{
  color:blue;
}


/*Here are the Styles for my Resource Page*/
.resourceBody{
  text-align: center;
  padding: 10px;
  margin-top: auto;
  color:black;
}

.resourceButtons{
  height:50px;
  width:200px;
  background-color: black;
  font-size:17px;
  font-weight: bold;
  margin:2px;
}

.resourceLinks{
  color:white;
}

/* Here are the Styles for my Contact Page*/
